@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: 'droid';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

:root{
   --cor00: #c5ebd6;
   --cor01: #83e1ad;
   --cor02: #3ddc84;
   --cor03: #2fa866;
   --cor04: #1a5c37;
   --cor05: #063d1e;

   --fonte-padrao: Arial, Verdana, sans-serif;
   --fonte-destque: "Bebas Neue", cursive;
   --fonte-android: "droid", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: #c5ebd6;
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header>h1{
    color: white;
    font-family: var(--fonte-destque);
    margin-bottom: 5px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    font-weight: normal;
}
header>p{
    color: white;
    font-family: var(--fonte-padrao);
    max-width: 600px;
    margin: auto;
    font-size: 1.3em;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
    padding-bottom: 50px;
}

nav{
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.5);
}
nav >a{
    color: var(--cor00);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}
nav>a:hover{
    background-color: var(--cor03);
    color: var(--cor05);
    border-radius: 3px;
}

main{
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main img{
    width: 100%;
}
main img.peq{
    max-width: 350px;
    display: block;
    margin: auto;
}

main h1{
    color: var(--cor05);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2{
    font-family: var(--fonte-android);
    font-size: 1.3em;
    color: var(--cor04);
    background-image: linear-gradient(to right, var(--cor01), transparent );
    text-indent: 10px;
    border-radius: 5px ;
    font-weight: normal;
}

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 10px;
    font-size: 1em;
    line-height: 1.3em;
}

main strong{
    color: var(--cor04);
    font-weight: bold;
    padding: 0px 4px;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    background-color: var(--cor01);
    padding: 0px 3px;
}

main a:hover{
    color: var(--cor03);
    text-decoration: underline;
}

div.video{
    background-color: var(--cor04);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside{
    background-color: var(--cor01);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.466);
}
aside h3{
    background-color: var(--cor04);
    color: white;
    margin: -10px -10px 0px -10px;
    padding: 8px;
    border-radius: 10px 10px 0px 0px;

}
aside ul{
    list-style-position: inside;
    list-style-type: '\2714\00A0\00A0';
    column-count: 2;

}

footer{
    background-color: var(--cor05);
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 8px;
}
footer a {
    text-decoration: none;
    color: var(--cor03);
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor00);
}
